.user-page__wrapper.user-page__wrapper {
  margin: 0 auto;
  text-align: center;
}

.user-page__title {
  margin-bottom: 20px;
}

.user-page__wrapper .MuiTypography-h4 {
  margin-bottom: 8px;
}

.user-page__wrapper .link-back {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}
