.table.table {
  margin: 0 auto;
  width: 40%;
}

.table .MuiTableContainer-root {
  margin-bottom: 20px;
}

.main-title.main-title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.btn__title {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn__title:focus {
  outline: none;
}

.wrapper__btn-delete.wrapper__btn-delete {
  display: flex;
  justify-content: flex-end;
}

.spinner__container.spinner__container {
  text-align: center;
  padding-top: 30%;
  font-size: 30px;
}

.spinner__container .MuiCircularProgress-root {
  width: 100px;
}

.table .MuiTableContainer-root {
  margin-bottom: 20px;
}

.link__comments {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
}

.link__comments:visited{
  color: black
}
.link__comments:hover{
  color: #C51162;
}