.table.table {
  margin: 0 auto;
  width: 40%;
}

.table .MuiTableContainer-root {
  margin-bottom: 20px;
}

.main-title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.btn__title {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn__title:focus {
  outline: none;
}
.wrapper__btn-delete.wrapper__btn-delete {
  display: flex;
  justify-content: flex-end;
}
